<div class="row d-flex justify-content-center">
    <div class="col-10">
        <div class="card">

            <!--Menu a compartir-->

            <div class="card-header">
              BOTES
            </div>
            <!--
            <div class="mb-4">
                <ul class="nav nav-tabs bg-primary " >
                    <li class="nav-item ">
                      <a class="nav-link text-white" aria-current="page" href="./bote/index.html">Lista</a>
                    </li>
                    <li class="nav-item text-white">
                      <a class="nav-link text-white" href="./bote/asignar.html">Asignar</a>
                    </li>
                  </ul>
            </div>
            -->
            <!--Fin menú a compartir-->


            <div class="card-body">

              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Unidad</th>
                  </tr>
                </thead>
                <tbody id="tbody">
                </tbody>
              </table>

            </div>
        </div>

    </div>
    
</div>



<script>



    const {ipcRenderer} = require('electron')
  

    const form = document.querySelector('#form') 
    const subsistema = document.querySelector('#subsistema') 
    
    ipcRenderer.send('all_unidad:carnada')
    
    ipcRenderer.on('all_unidad:carnada:response',(e,args)=>{
      const  data=JSON.parse(args)
      //console.log(data)
      //console.log(data)
      for (let i = 0; i < data.length; i++) {

        let tr="";
        tr+="<tr>";
        tr+="<td>"+data[i].codigo+"</td>";
        tr+="<td>"+data[i].nombre+"</td>";
        tr+="<td>"+(data[i].mt_unidad_descripcion+"").replace("null",'')+"</td>";
        tr+="</tr>";
        
        $('#tbody').append($(tr))

       
      
      }

      $('.table').DataTable();
      
    })

    
    

</script>



